<html>
<head>
    <title>Bienvenue sur {{ ansible_hostname }}</title>
</head>
<body>
    <h1>{{ apache_test_message }}</h1>
    <p>Ceci est la page d'accueil du serveur Apache déployé par Ansible.</p>
</body>
</html>
